/* 공통 CSS 클래스 */

/* 버튼 스타일 정의 */
.cl_button{
    border-radius: 3.5px;
    border: solid 1px;
    padding: 5px;
}

.cl_button.blue{
    color: aliceblue;
    background-color: cornflowerblue;
    border-color: blue
}

/* 인풋 박스 스타일 정의 */
.cl_input{
    
}