<!doctype html>
<html>
    <head>
        <title>Socket.IO chat</title>
        <meta charset="uft-8">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />

    </head>
    <body>
        <div id="app"></div>
        <script src="/dist/build.js"></script>
    </body>
    <style>
        * { 
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        };
        body{
            font: 1.1em Helvetica, Arial;
            margin: 0;
            padding: 0;
            height: 100vh;
            overflow: hidden;
            position: fixed;
        };
    </style>
    <script>
    
    </script>
</html>