<!doctype html>
<html>
    <head>
        <title>Socket.IO chat</title>
        <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }

        #nicknamePopup{
            padding:20px; 
            border:4px solid #ddd; 
            position:absolute; 
            left:100px; 
            top:100px; 
            background:#fff;
        }
        </style>
        
        <!-- Library Load-->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" id="vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" id="socket.io"></script>
        <script src="./static/chat.js" id="claris.chat.js"></script>

        <!----------------------------->
        <!-- Vue JS Components -------->
        <!-- 컴포넌트 구조 ---------------->
        <!-- <ChatApp(#application)> -->
        <!-- ㄴ <live-users>          -->
        <!-- ㄴ <chat-dialog>         -->
        <!-- ㄴ <message-input>       -->
        <!------------------------------>

        <!-- 현재 접속 인원 카운트 컴포넌트 :: <live-users> -->
        <script type="text/x-template" id="live-users-template">
            <div id="live-users">
                현재접속인원 : <span>{{ counter }}</span>명
            </div>
        </script>
        <script id="live-users-script">
            Vue.component('live-users',{
                template: '#live-users-template',
                props: ['counter'],
            })
        </script>
        <style id="live-users-style">
            #live-users {top:0};
        </style>
        <!-- END <live-users> -->

        <!-- 대화 내용컴포넌트 :: <chat-dialog> -->
        <script type="text/x-template" id="chat-dialog-template">
            <li class="red">{{ who }} : {{ text }}</li>
        </script>
        <script id="chat-dialog-script">
            Vue.component('chat-dialog',{
                template: '#chat-dialog-template',
                props: ['who','text']
            })
        </script>

        <!-- 메시지 입력 영역 :: <message-input> -->
        <script type="text/x-template" id="message-input-template">
            <div id="message-input">
                <div class="popup"> {{ popupMessage }} </div>
                <form v-on:submit.prevent="submit">
                    <input :placeholder="placeHolder" v-model:value="text" id="m" autocomplete="off" :disabled="disabled" /><button :disabled="disabled">전송</button>
                </form>
            </div>
        </script>
        <script id="message-input-script">
            Vue.component('message-input',{
                template: '#message-input-template',
                props: {
                    defaultText: {type:String, default() {return 'default-text'}},
                    disabled: {type: Boolean, default() {return false;}},
                    placeHolder: {type:String, default() {return 'default-placeholder'}},
                    popupMessage: {type:String, default() {return'default-popup-message'}},
                },
                data: function(){
                    return {
                        text: this.defaultText,

                    }
                },
                methods: {
                    submit(){
                        console.log(this.text);
                        if(this.validation(this.text)){
                            this.$emit('submit',this.text);
                        } else {
                            alert("validation fail")
                        }
                        this.text = "";
                    },
                    validation(value){
                        console.log(this.$emit('validation'));
                        this.$emit('validation',value);
                        return true;
                    }
                },
            });
        </script>
        <style id="message-input-style">
            #message-input {background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%;}
            #message-input .popup {font-size: 1em; color: white; padding-bottom: 0.3em}
            #message-input input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
            #message-input button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        </style>
        <!-- END <message-input> -->

        </style>
    </head>
  
    <body>
        <div id="application">

                <!-- 접속자수 영역 -->
                <live-users
                    v-bind:counter = "liveuser">
                </live-users>

                <!-- 메시지 영역 -->
                <div>
                    <ul id="messages">
                        <chat-dialog
                            v-for="message in messageList"
                            :key="message.id"
                            :who="message.who"
                            :text="message.text">
                        </chat-dialog>
                    </ul>
                </div>


                <div v-if="mode === 'user'">
                    <!-- 닉네임 입력 영역 -->
                    <message-input
                        :disabled="userInput.disabled"
                        :place-holder='userInput.placeholder'
                        :popup-message='userInput.popupMessage'
                        :default-text='userInput.default'
                        @submit="setUser">
                    </message-input>                    
                </div>
                <div v-else-if="mode === 'chat'">
                    <!-- 메시지 입력 영역 -->
                    <message-input
                        :disabled="messageInput.disabled"
                        :place-holder='messageInput.placeholder'
                        :popup-message='messageInput.popupMessage'
                        :default-text='messageInput.default'
                        @submit="send">
                    </message-input>
                </div>
                <div v-else>
                    notting
                </div>

        </div>
    </body>

    <!-- script -->
    <script>
        let Chat = new Claris;
        let ChatApp = new Vue({
            el: '#application',
            data: {
                liveuser : 0,
                messageList : [],
                messageInput : {
                    disabled : true,
                    default : "",
                    placeholder : "255자 이내",
                    popupMessage : "type message"
                },
                userInput : {
                    disabled : false,
                    default : "",
                    placeholder : "5자 이내",
                    popupMessage : "닉네임을 입력해주세요"
                },
                user : "",
                mode : "user",
            },
            mounted: function(){
                Chat.on(this.receive);
            },
            methods: {
                send: function(msg){
                    console.log("getvalue:",msg);
                    Chat.SendChat(msg);
                },
                setUser: function(value){
                    Chat.setNickname(value);
                    this.$data.user = value;
                    this.$data.mode = 'chat';
                    this.$data.messageInput.disabled = false;
                    this.messageList.push({
                        who : "(system)",
                        text : "당신의 닉네임은"+this.$data.user+"입니다.",
                    })
                },
                receive: function(response){
                    this.messageList.push({
                        who : response.who,
                        text : response.value,
                    })
                },
            }
        });
    </script>

</html>